<div class="container header__container">
     <h1 class="logo"><a href="@Url.Action("Index", "Home")">WorkHub</a></h1>

     <nav class="header__nav">
          <ul>
               <li><a href="#main">Acasă</a></li>
               <li><a href="#services">Servicii</a></li>
               <li><a href="#!">Cum începi pe WorkHub?</a></li>
               <li><a href="#!">Devino Vânzător</a></li>
          </ul>
     </nav>
</div>